#imgPesawat {
  width: 300px;
  height: 300px;
}
table, th, td {
  border: 1px solid black;
}
.blog {
  height: 600px;
  width: 800px;
  border: 1px solid black;
  background-color: lightblue;
  box-sizing: border-box;
}
.header {
  height: 100px;
  width: 100%;
  background-color: lightgreen;
  border: 1px solid black;
}
.header h1 {
  text-align: center;
}
.main {
  width: 100%;
  height: 400px;
  background-color: lightyellow;
}
.main img {
  height: 200px;
  width: 300px;
  float: left;
}

.footer {
  height: 80px;
  width: 100%;
  background-color: green;
}
.text p {
  text-align: center;
  margin: 0px;
  letter-spacing: 1px;
}
